@import '../../../assets/less/variables.less';

.tab-btn {
  position: relative;
  height: 36px;
  padding: 4px 8px;
  background-color: @tab-btn-bg-color;
  color: @tab-btn-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // border-radius: @border-radius-base;

  &:last-child {
    margin-right: 0;
  }

  &:last-child:after {
    display: none;
  }

  &:hover {
    cursor: pointer;
    color: @tab-btn-active-color;
    background-color: @tab-btn-active-bg-color;

    .tab-btn-close {
      visibility: visible;
    }

    :before {
      display: none;
    }

    :after {
      display: none;
    }
  }
}

.tab-btn-icon-active,
.tab-btn-active {
  position: relative;
  background-color: @tab-btn-active-bg-color;
  color: @tab-btn-active-color;

  &::after {
    content: '';
    display: inline-block !important;
    position: absolute;
    left: 20px;
    bottom: 0;
    width: calc(100% - 40px);
    height: 2px;
    background-color: @primary-color;
  }
}

.tab-btn-icon {
  width: 10px;
  height: 10px;
  background-color: @tab-btn-active-color;
  border-radius: 50%;

  &.active {
    // background-color: @primary-color;
  }
}

.tab-btn-title {
  padding: 0 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  text-align: center;
}

.tab-btn-close {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  cursor: pointer;
  color: @tab-btn-active-color;
  visibility: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    // background-color: rgba(0, 0, 0, 0.08);
  }
}
