@import '../../../assets/less/variables.less';

.editor {
  background: @component-background;
  color: @text-color;
  .editor_quill {
    height: 443px;
    .ql-container {
      height: 400px;
    }
  }
}
