@import '../../assets/less/variables.less';

@edit-panel-prefix-cls: ~'base-edit-panel';

.@{edit-panel-prefix-cls} {
  display: flex;
  justify-content: center;
  background: @global-edit-panel-bg-color;
  overflow-y: scroll;
  height: 100%;
  padding: 32px 16px;

  .ant-form-item {
    margin-bottom: 6px;
  }
}
